.wrap{ width:1340px; height: 220px; margin: 0 auto; background: orange; position: relative;}
.nav{ width:1220px; height: 30px; background: url("../images/nav-bg.png") repeat-x; margin: 0 auto;}
.li_bg{ background: url("../images/li-bg.png") no-repeat right center; padding-right: 15px;}
.nav ul li{ float: left; font-size: 14px; cursor: pointer;}
.ul1{ width: 105px; height: 30px; float: left;}
.ul1 li{ width: 50px; height: 30px; line-height: 30px;}
.ul2{ margin-left: 325px;}
.ul2 li{ width: 82px; height: 30px; line-height: 30px; text-align: center;}
.ul2 .bb{ width: 82px; height: 30px; padding-right: 0px; display: block;}
.ul2 .bb:hover{ width: 82px; height: 30px; padding-right:0px;background: #ffffff;}

#box1{ width: 308px; height: 221px; border: 1px solid #CCCCCC; background: #ffffff; position: absolute; left: 60px; top: -243px; z-index: 99;}
#box1 ul li{ float: left; width: 40px; height: 24px; margin-right: 20px; line-height: 24px; display: block; text-align: center;}
#box1 ul li:hover{ width: 40px; height: 24px; background: #ff0000; line-height: 24px;}
#box1 ul{ float: left; margin-left: 5px;}

#box2{ width: 200px; height: 50px; border: 1px solid #CCCCCC; background: #ffffff;
    position: absolute; left:610px; top: 29px; display: none; z-index: 99;}
#box3{ width: 200px; height: 200px; border: 1px solid #CCCCCC;
    background: #ffffff; position: absolute; left:850px; top: 29px; display: none; z-index: 99;}
#box4{ width: 80px; height: 100px; border: 1px solid #CCCCCC;
    background: #ffffff; position: absolute; left:935px; top: 29px; display: none; z-index: 99;}
#box5{ width: 80px; height: 100px; border: 1px solid #CCCCCC;
    background: #ffffff; position: absolute; left:1020px; top: 29px; display: none; z-index: 99;}
#box6{ width: 1220px; height: 80px; border: 1px solid #CCCCCC;
    background: #ffffff; position: absolute; left:60px; top: 29px; display: none; z-index: 99;}
#box7{ width: 220px; height: 50px; border: 1px solid gray; box-shadow: 0px 0px 5px 1px gray;
    background: #ffffff; position: absolute; left:958px; top: 62px; display: none; z-index: 99;}

.ban{ margin-left: 60px;}
.banner{ width: 1209px; height: 102px; background: url("../images/banner.png") no-repeat left center; margin-left: 60px; position: relative;}
#txt{ width: 454px; height: 32px; border: 2px solid #B61D1D;}
.banner form{ margin-left: 393px; padding-top: 26px; width: 540px; height: 60px; float: left;}
.banner form ul li{ float: left; margin-left: 10px;}
.banner form ul li a:hover{ color: #ff0000; text-decoration: none;}

.gouwu{ float: left; width: 140px; height: 35px; text-align: center; line-height: 35px; background: #ffffff;
    border: 1px solid gray; box-shadow: 0px 0px 5px 1px gray;margin-top: 26px; margin-left: 104px;}

#main{ width: 1209px; height: 515px; border: 1px solid #000000; margin-left: 60px; margin-top: 10px;}
#main .uu li{ width: 210px; height: 32px; background: #C81623; color: #ffffff;}
#main .uu li span{ float: right; padding-right: 12px; font-size: 14px;}
#main .uu{ float: left;}
#main .oo li{ float: left; font-size: 14px; height: 45px; line-height: 45px; margin-left: 40px; color: #000000;}
#main .oo{ width: 1209px; height: 45px; border-bottom: 2px solid #B1191A;
    background: url("../images/ol-bg.png") no-repeat right center;}
#main ol li a:hover{ color: #ff0000; text-decoration: none;}
#main #lunb{ width: 730px; height: 454px; float: left; position: relative; overflow: hidden;}
#main #lunb ul{ width: 4380px; height: 454px; position: absolute; left: 0px; top: 0px;}
#main #lunb ul li{ float: left;}
#main #lunb ol li{ width: 18px; height: 18px; border-radius: 10px; float: left; background: gray; text-align: center;
line-height: 18px; color: #ffffff; margin-left: 5px;}
#lunb ol li.aa{ background: #B61B1F; width: 18px; height: 18px; border-radius: 10px; float: left;text-align: center;
    line-height: 18px; color: #ffffff; margin-left: 5px;}
#main #lunb ol{ position: absolute; bottom: 9px; right: 300px;}